@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 20%;
    --foreground: 0 0% 98%;
    --card: 0 0% 24%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 24%;
    --popover-foreground: 0 0% 98%;
    --primary: 13 86% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 28%;
    --muted-foreground: 0 0% 60%;
    --accent: 120 25% 65%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 13 86% 63%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
