@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 39 20% 20%;
    --card: 39 80% 95%;
    --card-foreground: 39 20% 20%;
    --popover: 39 80% 95%;
    --popover-foreground: 39 20% 20%;
    --primary: 13 86% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 50% 92%;
    --secondary-foreground: 39 20% 20%;
    --muted: 39 50% 92%;
    --muted-foreground: 39 20% 45%;
    --accent: 120 25% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 39 20% 85%;
    --input: 39 20% 85%;
    --ring: 13 86% 63%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
